* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.tieude{
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    font-weight: 500;
    color: orange;
}
.van{
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}

body {
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 25px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header {
    color: white;
    text-align: center;
    padding: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px;
}
body {
    background:rgb(30,30,40);
    }
    .form {
    text-align: center;
    margin-top: 40px;
    max-width:420px;
    margin:50px auto;
    }
    #form1 input[type=text] {
    color:white;
    font-family: sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    
    #form1 #fcontent {
    height: 100px;
    }
    #form1 input[type=submit] {
    color:white;
    font-family: sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #CC6666;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    #form1 input[type="submit"]:hover {
    background:#CC4949;
    }
    